@import 'reset';
@import 'fonts';
@import 'vars';

$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

.button {
  padding: 8px 25px;
  border-radius: 4px;
  background-color: $blue;
  font-family: 'HelveticaNeueLTPro-Roman';
  color: white;
  display: inline-block;
  font-size: 14px;
}

#dashboard {
  width: 100%;
  margin: 30px auto;
  min-height: 500px;
  box-sizing: border-box;
  position: relative;

  #tabs {
    width: 200px;
    display: flex;
    font-family: 'HelveticaNeueLTPro-Roman';
    .tab {
      width: 200px;
      font-size: 24px;
      text-align: center;
      padding: 5px 20px;
    }

    .tab.active {
      border-bottom: 1px solid $dodger-blue;
    }
  }

  #items {
    font-family: 'HelveticaNeueLTPro-Bd';
    li {
      padding: 20px;
      padding-left: 50px;
      font-size: 15px;
      border-bottom: 1px solid $mercury;
      display: flex;

      .order {
        padding-right: 20px;
      }
    }

    li:first-child {
      border-top: 1px solid $mercury;
    }

    li:nth-of-type(2n+1) {
      background: $alabaster;
    }
  }

  #bottom_menu {
    margin: 10px;
    display: flex;
    justify-content: space-between;

    .left {

    }

    .right {
    }
  }

  #upload {
    font-family: 'HelveticaNeueLTPro-Bd';
    right: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 400px;
    box-shadow: -4px -4px 8px rgba(0, 0, 0, .2);
    border: 1px solid rgba(0, 0, 0, .1);
    height: 80%;
    top: 10px;
    background-color: white;
    border-radius: 4px;

    #header {
      padding: 20px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid $mercury;

      .title {
      }

      .close {
      }
    }

    #drop {
      height: 100%;
    }


  }
}
