@font-face {
  font-family: 'HelveticaNeueLTPro-Bd';
  src: url('webfonts/2E505E_0_0.eot');
  src: url('webfonts/2E505E_0_0.eot?#iefix') format('embedded-opentype'),
        url('webfonts/2E505E_0_0.woff2') format('woff2'),
        url('webfonts/2E505E_0_0.woff') format('woff'),
        url('webfonts/2E505E_0_0.ttf') format('truetype');
}


@font-face {
  font-family: 'HelveticaNeueLTPro-Md';
  src: url('webfonts/2E505E_1_0.eot');
  src: url('webfonts/2E505E_1_0.eot?#iefix') format('embedded-opentype'),
        url('webfonts/2E505E_1_0.woff2') format('woff2'),
        url('webfonts/2E505E_1_0.woff') format('woff'),
        url('webfonts/2E505E_1_0.ttf') format('truetype');
}


@font-face {
  font-family: 'HelveticaNeueLTPro-Roman';
  src: url('webfonts/2E505E_2_0.eot');
  src: url('webfonts/2E505E_2_0.eot?#iefix') format('embedded-opentype'),
        url('webfonts/2E505E_2_0.woff2') format('woff2'),
        url('webfonts/2E505E_2_0.woff') format('woff'),
        url('webfonts/2E505E_2_0.ttf') format('truetype');
}
